<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="com.example.mock">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %X{correlationId} - %msg%n"/>
        </Console>
        <RollingFile name="LogToRollingFile" fileName="logs/app.log"
            filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log">
            <PatternLayout>
                <Pattern>%d{ISO8601_OFFSET_DATE_TIME_HHCMM} MOCK-SERVICE %X{correlationId} %level %c{3.} [%t] :
                    %msg%n%throwable
                </Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <Appender-ref ref="LogToConsole"/>
            <Appender-ref ref="LogToRollingFile"/>
        </Root>
    </Loggers>
</Configuration>